Repository wakie92/storybook-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

apply lint to button components
  src/stories/BulldaxButton/BulldaxButton.js
  src/stories/BulldaxButton/BulldaxButton.stories.js
  src/stories/BulldaxButton/styled.js
Due: prettier --write, eslint --fix, stylelint

test pre-commit
  .eslintrc.js
  package-lock.json
  package.json
  src/stories/ButtonGroup/ButtonGroup.js
  src/stories/ButtonGroup/ButtonGroup.stories.js
  src/stories/ButtonGroup/styled.js
Due: prettier --write, eslint --fix, stylelint

test pre-commit
  rollup.config.js
Due: prettier --write, eslint --fix

Apply eslint and stylelint
  jsconfig.json
  src/context/UiUxContext.js
  src/stories/BulldaxButton/BulldaxButton.stories.js
  src/stories/BulldaxCheckBox/BulldaxCheckBox.js
  src/stories/BulldaxCheckBox/BulldaxCheckBox.stories.js
  src/stories/BulldaxCheckBox/styled.js
  src/stories/BulldaxInput/BulldaxInput.js
  src/stories/BulldaxInput/BulldaxInput.stories.js
  src/stories/BulldaxInput/styled.js
  src/stories/ButtonGroup/ButtonGroup.stories.js
  src/stories/Colors/Colors.js
  src/stories/Colors/Colors.stories.js
  src/stories/Colors/colorsCollection.js
  src/stories/Colors/styled.js
  src/stories/Text/BulldaxText.js
  src/stories/Text/BulldaxText.stories.js
  src/styles/ThemeHandler.js
  src/styles/darkTheme.js
  src/styles/lightTheme.js
  src/styles/theme.js
Due: prettier --write, eslint --fix, stylelint

For test
  src/index.js
  src/stories/BulldaxButton/BulldaxButton.js
  src/stories/BulldaxButton/styled.js
  src/stories/BulldaxModal/BulldaxModalWindow.js
  src/stories/BulldaxModal/BulldaxModalWindow.stories.js
  src/stories/BulldaxModal/styled.js
  src/stories/Colors/Colors.stories.js
  src/stories/Colors/colorsCollection.js
  src/stories/Modal/ModalWindow.js
  src/stories/Modal/ModalWindow.stories.js
  src/styles/darkTheme.js
  src/styles/lightTheme.js
  src/styles/theme.js
Due: prettier --write, eslint --fix, stylelint

version up
  package.json
Due: prettier --write

Update react spring
  package-lock.json
  package.json
Due: prettier --write

Fix to update package
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

Version up
  package.json
Due: prettier --write

Change puublish config
  package.json
Due: prettier --write

test
  package-lock.json
  package.json
Due: prettier --write

Change dependencies
  package-lock.json
  package.json
Due: prettier --write

Add peerDependencies
  package.json
Due: prettier --write

Add a calling react statement
  package.json
  src/stories/ButtonGroup/ButtonGroup.js
  src/stories/Modal/ModalWindow.js
Due: prettier --write, eslint --fix

Try to fix import
  package.json
  src/index.js
  src/stories/Modal/AdminModalWindow.js
  src/stories/Modal/AdminModalWindow.stories.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,css,json,md}
  eslint --fix: any of: *.js
  stylelint: (any of: ./src/**/styled.js) or (any of: ./src/styles/styledComponents/**/*.js)
